.example1 > div{
    display: inline-block;
    padding: 7px 16px;
    margin-right: 2px;
}

.colorSpace{
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 4px;
}

.textbox {
    width: 220px;
    height: 25px;
    margin-right: 12px;
}

.button {
    height: 25px;
    font-size: 12px;
    font-weight: bolder;
}