.button {
    height: 25px;
    font-size: 12px;
    font-weight: bolder;
    background-color: rgb(2, 76, 76);
    color: #fff;
}

.button-remove {
    height: 25px;
    font-size: 12px;
    font-weight: bolder;
    background-color: rgb(86, 150, 7);
    color: #fff;
}

.button-add {
    height: 25px;
    font-size: 12px;
    font-weight: bolder;
    background-color: rgb(169, 5, 5);
    color: #fff;
}

.button-remove-element {
    height: 25px;
    font-size: 12px;
    font-weight: bolder;
    background-color: rgb(7, 5, 118);
    color: #fff;
}